
*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family:arial;
}

h1{
    color:#ffffffed;
    text-align:center;
    font-faimly:icon;
}

.login-form{
    width:450px;
    padding:40px 30px;
    background:rgba(16, 14, 10, 0.57);
    border-radius:4px;
    margin:50px auto;
}

.green-btn{
    background:#0AC986;
    dispaly:inline-block;
    font-size:16px;
    height:50px;
    color:#fff;
    text-decoration:none;
    border:none;
    border-radius:4px;
}


.green-btn:hover{
    background:#04af73;

}
.blue-btn{
    background:#27abe3;
    dispaly:inline-block;
    font-size:16px;
    height:50px;
    color:#fff;
    text-decoration:none;
    border:none;
    border-radius:4px;
}
.btn-small{
    width:10%;
}
.btn-medium{
    width:49%;
}

.btn-large{
    width:100%;
}
.blue-btn:hover {
    background:#1681af;

}
.float-left{
    float: left;
}
.float-right{
    float: right;
}

.top-padding-5px{
margin-top: 5px;
}


.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.welcomeimage{
    width:100%;
    height:auto;
    height:100%;
    margin-bottom: 3%;

}
.imagescaler{
    width: 100%;
    height: fit-content;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    margin-bottom: 3%;
}
.navbar{
    margin-bottom: 0px;
}
.centeredtext {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centeredsearch {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #6cb39f;
}
.navbar-default{
    background-color: #78C2AD;
    border-color: #78C2AD;
}
.navbar{
    border: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 0.6);
}
.navbar-default .navbar-brand{
    color: #fff;

}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.footer{
    background-color: #78C2AD;
    border-color: #78C2AD;
    height: 5%;

}

.footer a{
    top:50%;
    margin-top: 1.0000em ;
    color: rgba(255, 255, 255, 0.6) !important;
}
.footer-name {
    position: absolute;
    top: 75%;
    left: 5%;
    transform: translate(-50%, -50%);
}
.footer-contact {
    position: absolute;
    top: 75%;
    left: 86%;
    transform: translate(-50%, -50%);
}
.navbar-padding{
    padding-top: 5%;
}
.panel-primary{
    border-color:#78c2ad;
}
.panel-primary>.panel-heading{
    background-color: #78c2ad;
    border-color: #78c2ad;
}
.container-large{
    max-width: 1000px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.border-bottom{
    margin-top: 10px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
}
.centerHeader{
    text-align: center;
    margin-bottom: 1%;
}