<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hotel info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .login-box{
        margin:6% auto 0;
        width:300px;
        display: block;
        background-color: #fff;
        -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
        -o-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
        -ms-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
        box-shadow: 0 2px 1px rgba(0,0,0,0.2);
    }
    .login-box .panel-heading span{
        color:#aaa;
        font-size:14px
    }
</style>
#if($error)
<div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>$errormessage</strong>
</div>
#end
#if($logout)
<div class="alert alert-info alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Successfully logged out!</strong>
</div>
#end
<div class="login-box">
    <form action="/login" method="POST">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Sign in</b> <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></div>
            <div class="panel-body">
                #if($newuser)
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>User created!</strong>
                </div>
                #end
                <div class="form-group has-primary has-feedback">
                    <label class="control-label" for="login">Login <span class="regForm text-danger">*</span></label>
                    <input type="text" class="form-control" name="user" id="login" aria-describedby="login" required>
                    <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-primary has-feedback">
                    <label class="control-label" for="password">Password <span class="regForm text-danger">*</span></label>
                    <input type="password" class="form-control" name="pass" id="password" aria-describedby="password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="panel-footer">
                <input type="submit" class="btn btn-primary" id="goToChat" value="Sign in" />
                <a href="/register" class="btn btn-default pull-right">Register</a>
            </div>
        </div>
    </form>
</div>

</body>
</html>
