<!DOCTYPE html>
<html>
<style>
    .reviewtext{
        border: 1px solid #e3e3e3;
        background: #ffffff;
        padding: 9px;
        border-radius: 3px;
    }
</style>
<head>
    <title>My reviews</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand " href="/viewhotels">Hotels site</a>
            </div>
            <ul class="nav navbar-nav">
                <li ><a href="/viewhotels">Hotels</a></li>
                <li class= "active "><a href="/myreviews?username=$username">My reviews</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login?logout"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
            </ul>
        </div>
    </nav>
</div>

#if($userReviews)
#foreach($review in $reviews)
<div class="container">
    <div class="well well-sm">

        <div>
            <h3>$!review.title</h3>
            <p><small>posted by $!review.username on $!review.date</small></p>
        </div>

        <div class="reviewtext">
            <p>$!review.review</p>
        </div>
        <p>Rating: $!review.rating</p>
        <p><small>Review for hotel $!review.hotelName</small></p>
        <form action ="/myreviews" method = "post">
            <input type="hidden" value="$!review.hotelid" name="hotelid" />
            <input type="hidden" value="$!review.username" name="username" />
            <input class="btn btn-default" type="submit" name="edit" value="Edit" />
            <input class="btn btn-danger" type="submit" name="delete" value="Delete" />
        </form>
    </div>
</div>
#end
#else
<p>You don't have any reviews yet</p>
#end

</body>
</html>
