<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<style>
    .login-box{
        margin:6% auto 0;
        width:300px;
        display: block;
        background-color: #fff;
        -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
        -o-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
        -ms-box-shadow: 0 2px 1px rgba(0,0,0,0.2);
        box-shadow: 0 2px 1px rgba(0,0,0,0.2);
    }
    .login-box .panel-heading span{
        color:#aaa;
        font-size:14px
    }
</style>

<div class="login-box">
    <form action="/register" method="POST">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Register</b> <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></div>
            <div class="panel-body">
                #if($alert)
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Duplicate!</strong> User already exist.
                </div>
                #end
                <div class="form-group has-primary has-feedback">
                    <label class="control-label" for="login">Username <span class="regForm text-danger">*</span></label>
                    <input type="text" class="form-control" name="user" id="login" aria-describedby="login" required>
                    <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-primary has-feedback">
                    <label class="control-label" for="password">Password <span class="regForm text-danger">*</span></label>
                    <input required placeholder="Enter password" class="form-control" type="password" id="password" name="pass" size="30" pattern= "(?=.*[a-z])(?=.*[A-Z])(?=.*[\d])(?=.*[#?!@$%^&*-]).{8,}"
                    title="Password must contain: length of 8 characters, One upper- and one lowercase letter, a number from 0-9 and one special character  #?!@$%^&*-">
                    <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>

            <div class="panel-footer">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
    </form>
</div>

</body>
</html>

