<!DOCTYPE html>
<html>
<head>
    <title>Visited links</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../style/minty.css">

    <script src="../js/script.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>
<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand " href="/welcome"><i class="glyphicon glyphicon-home"></i> HotelAdvisor</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/viewhotels">Hotels</a></li>
                <li><a href="/myreviews?username=$username">My reviews</a></li>
                <li><a href="/savedhotels">Saved hotels</a></li>
                <li class="active "><a href="/expedialinks">Visited links</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login?logout"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">

    #if($erroralert)
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>$errorMessage</strong>
    </div>
    #end

    <h3>Visited links history</h3>
    <form action ="/expedialinks" method = "post">
        <input type="hidden" value="$username" name="username" />
        <input class="btn btn-danger" type="submit" name="clearhistory" value="Remove all history" />
    </form>


    <table id="myTable" class="table table-striped">
        <thead>
        <tr>
            <th>Hotel name</th>
            <th>Expedia link</th>
        </tr>
        </thead>
        <tbody>
        #foreach($link in $links)
        <tr>
            <td>$!link.name</td>
            <td><a href="$!link.link">$!link.link</a></td>
        </tr>
        #end
        </tbody>

    </table>
</div>
</body>
</html>