<!DOCTYPE html>
<html>
<style>
    .reviewtext{
        border: 1px solid #e3e3e3;
        background: #ffffff;
        padding: 9px;
        border-radius: 3px;
    }
</style>
<head>
    <title>Hotel info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style/minty.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand " href="/viewhotels">Hotels site</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active "><a href="#">Hotels</a></li>
                <li><a href="/myreviews?username=$username">My reviews</a></li>
                <li><a href="/savedhotels">Saved hotels</a></li>
                <li><a href="/expedialinks">Visited links</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login?logout"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
            </ul>
        </div>
    </nav>
</div>
#if($existingReview)
<a href="/editreview?username=$username&hotelid=$hotelid">
    <button class="btn btn-primary" >Edit review</button>
</a>
#else
<a href="/addreview?hotelid=$hotelid">
    <button class="btn btn-primary" >Add review</button>
</a>
#end

#if($hotelReviews)
#foreach($review in $reviews)
<div class="container">
    <div class="well well-sm">

        <div>
            <h3>$!review.title</h3>
            <p><small>posted by $!review.username on $!review.date</small></p>
        </div>

        <div class="reviewtext">
            <p>$!review.review</p>
        </div>
        <p>Rating: $!review.rating</p>
    </div>
</div>
#end
#else
<p>This hotel does not have any reviews yet. Be the first one to write a review</p>
#end
</body>
</html>
