<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="icon" href="/pictures/hotel.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../style/minty.css">
    <link rel="stylesheet" type="text/css" href="../style/pagebackgroundcolour.css">


    <script src="../js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>
<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand " href="/welcome">HotelAdvisor</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active "><a href="/viewhotels">Hotels</a></li>
                <li><a href="/myreviews?username=$username">My reviews</a></li>
                <li><a href="/savedhotels">Saved hotels</a></li>
                <li><a href="/expedialinks">Visited links</a></li>
                <li><a href="/expedialinks">Visited links</a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login?logout"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="navbar-padding">
    <div class="container-large">
        <div class="panel  panel-primary">
            <div class="panel-heading">Panel Heading</div>
            <div class="panel-body">
                    <div class="form-group">
                        <select name="city" class="form-control"  id="citySelect">
                            <option>--Select city--</option>
                            #foreach($city in $cities)
                            <option>$!city</option>
                            #end
                        </select>
                    </div>
                <div class="form-group has-feedback has-feedback-left">
                    <input type="text" id="myInput" name="key" placeholder="Search for hotel names.." class=" form-control">
                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
                </div>
                    <input class="btn btn-info" type="submit" onclick="updateTable()" value="Search" />

                <div class="border-bottom"></div>



                #if($erroralert)
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>$errorMessage</strong>
                </div>
                #end
                #if($successalert)
                <div class="alert alert-info alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>$successMessage</strong>
                </div>
                #end

                <div id="hotelinfotable">
                    <h3 class="centerHeader">View all hotels</h3>

                    #if($invalidSearch)
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>There is no hotel matching your search</strong>
                    </div>
                    #end

                    <table id="hotelsTable" class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Hotel name</th>
                            <th>City</th>
                            <th>Address</th>
                            <th>Rating</th>
                        </tr>
                        </thead>
                        <tbody>
                        #foreach($hotel in $hotels)
                        <tr id="some">
                            <td><a href="/hotel?hotelid=$!hotel.hotelId">$!hotel.name</a></td>
                            <td>$!hotel.city</td>
                            <td>$!hotel.address</td>
                            <td>$!hotel.rating</td>
                        </tr>
                        #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>