<!DOCTYPE html>
<html>
<head>
    <title>Hotel info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../style/minty.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand " href="/welcome"><i class="glyphicon glyphicon-home"></i> HotelAdvisor</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active "><a href="/viewhotels">Hotels</a></li>
                <li><a href="/myreviews?username=$username">My reviews</a></li>
                <li><a href="/savedhotels">Saved hotels</a></li>
                <li><a href="/expedialinks">Visited links</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login?logout"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="jumbotron">

        <h3>$name</h3>
        <p>Address: $address</p>
        <p>Rating: $rating</p>
        <p><a href="/reviews?hotelid=$hotelid" class="btn btn-primary" role="Reviews">Reviews</a>

        <form target='_blank' action = "/expedialinks" method = "post">
            <input type="hidden" value="$hotelid" name="hotelid" />
            <input type="hidden" value="$name" name="hotelname" />
            <input type="hidden" value="$expedia" name="link" />
            <input href="$expedia" class="btn btn-info" type="submit" name="visit" value="Expedia">
        </form>

        <form action = "/attractions" method = "post">
            <input type="hidden" value="$hotelid" name="hotelid" />
            <input pattern="[0-9]{0,4}" required placeholder="Enter radius.." type="text" name="radius">
            <input class="btn btn-primary" type="submit" value="Show attractions">
        </form>
        <!-- check if saved or not -->
        #if($saved)
        <form action = "/hotel" method = "post">
            <input type="hidden" value="$hotelid" name="hotelid" />
            <input class="btn btn-danger" type="submit" name="unsave" value="Unsave">
        </form>
        #else
        <form action = "/hotel" method = "post">
            <input type="hidden" value="$hotelid" name="hotelid" />
            <input class="btn btn-primary" type="submit" name="save" value="Save">
        </form>
        #end

        </p>
    </div>
</div>
</body>
</html>