<!DOCTYPE html>
<html>
<head>
    <title>Hotel info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../style/minty.css">
    <link rel="stylesheet" type="text/css" href="../style/pagebackgroundcolour.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand " href="/welcome"><i class="glyphicon glyphicon-home"></i> HotelAdvisor</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active "><a href="/viewhotels">Hotels</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown menuWidth">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user"></span> $username</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
                        <li><a href="/myreviews?username=$username"><span class="glyphicon glyphicon-comment"></span> My Reviews</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/login?logout"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a>Last logged in: $lastLogin</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container navbar-padding">
    <div class="panel panel-primary">
        <div class="panel-heading">$name </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="card-body text-primary border-bottom">
                    <h4 class="card-title">Address: $address</h4>
                    <p class="card-text">Rating: $rating</p>
                </div>
                <div class="col-md-6">
                    <form target='_blank' action = "/expedialinks" method = "post">
                        <input type="hidden" value="$hotelid" name="hotelid" />
                        <input type="hidden" value="$name" name="hotelname" />
                        <input type="hidden" value="$expedia" name="link" />
                        <label for="expedia" class="btn btn-large btn-info"><i class="glyphicon glyphicon-link"></i>Expedia</label>
                        <input id="expedia" href="$expedia" class="hidden" type="submit" name="visit" value="Expedia">
                    </form>
                </div>
                <div class="col-md-6">

                #if($saved)
                <form action = "/hotel" method = "post">
                    <input type="hidden" value="$hotelid" name="hotelid" />
                    <label for="unsave" class="btn btn-large btn-danger"><i class="glyphicon glyphicon-heart-empty"></i> Unsave</label>
                    <input class="hidden" id="unsave" type="submit" name="unsave" value="unsave">
                </form>
                #else
                <form action = "/hotel" method = "post">
                    <input type="hidden" value="$hotelid" name="hotelid" />
                    <label for="save" class="btn btn-large btn-secondary"><i class="glyphicon glyphicon-heart"></i> Save</label>
                    <input id="save" class="hidden" type="submit" name="save" value="save">

                </form>
                #end
                </div>
<div class=" col-md-12 top-padding-5px">
                <form action = "/attractions" method = "post">
                    <input type="hidden" value="$hotelid" name="hotelid" />
                    <input class="form-control" required  name="radius" type="number" min="1" max="9999" placeholder="Enter radius..">
                    <input class="btn btn-large btn-primary" type="submit" value="Show attractions">
                </form>
</div>
            </div>



            <div class="col-md-6 "><iframe
                    width=100%
                    height=400px
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAX2jfFKOyHFMvld1gugHnRYXCY1qxLvX4&q=$mapq" allowfullscreen>
            </iframe>
            </div>


        </div>
    </div>
</div>
</body>
</html>