<!DOCTYPE html>
<html>

<head>
    <title>My reviews</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../style/minty.css">
    <link rel="stylesheet" type="text/css" href="../style/pagebackgroundcolour.css">

    <script src="../js/script.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand " href="/welcome"><i class="glyphicon glyphicon-home"></i> HotelAdvisor</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active "><a href="/viewhotels">Hotels</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown menuWidth">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user"></span> $username</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> My profile</a></li>
                        <li><a href="/myreviews?username=$username"><span class="glyphicon glyphicon-comment"></span> My Reviews</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/login?logout"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a>Last logged in: $lastLogin</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="navbar-padding">

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Your hotel reviews</div>
            <div class="panel-body">


                #if($successAlert)
                <div class="alert alert-info alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>$successMessage</strong>
                </div>
                #end

                #if($errorAlert)
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>$errorMessage</strong>
                </div>
                #end

                #if($userReviews)

                #foreach($review in $reviews)

                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Review for hotel $!review.hotelName$!review.title <br>- <small>Posted on $!review.date</small></div>
                    <div class="panel-body">
                        <div class="border-bottom">
                            <h3>$!review.title</h3> <p class="">Rating: $!review.rating</p>
                        </div>
                        <div class="reviewtext">
                            <p>$!review.review</p>
                        </div>
                        <form action ="/myreviews" method = "post">
                            <input type="hidden" value="$!review.hotelid" name="hotelid" />
                            <input type="hidden" value="$!review.username" name="username" />
                            <input class="btn btn-info" type="submit" name="edit" value="Edit" />
                            <input class="btn btn-danger" type="submit" name="delete" value="Delete" />
                        </form>
                    </div>

                </div>

                #end
                #else
                <div class="alert alert-info" role="alert">
                    You don't have any reviews yet
                </div>
                #end
            </div>
        </div>
    </div>

</div>
</body>
</html>
