<!DOCTYPE html>
<html>
<head>
    <title>Saved hotels</title>
    <link rel="icon" href="/pictures/hotel.png" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <script src="../js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script></head>
<body>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand " href="/viewhotels">Hotels site</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/viewhotels">Hotels</a></li>
                <li><a href="/myreviews?username=$username">My reviews</a></li>
                <li class="active "><a href="/savedhotels">Saved hotels</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login?logout"><span class="glyphicon glyphicon-log-in"></span> Sign out</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">

    #if($erroralert)
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>$errorMessage</strong>
    </div>
    #end

    <h3>Saved hotels</h3>
    #if($invalidSearch)
    <div class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>There is no hotel matching your search</strong>
    </div>

    #end
    <table id="myTable" class="table table-striped">
        <thead>
        <tr>
            <th>Hotel name</th>
            <th>City</th>
            <th>Address</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        #foreach($hotel in $hotels)
        <tr>
            <td><a href="/hotel?hotelid=$!hotel.hotelId">$!hotel.name</a></td>
            <td>$!hotel.city</td>
            <td>$!hotel.address</td>
            <td>$!hotel.rating</td>
        </tr>
        #end
        </tbody>

    </table>
</div>
</body>
</html>